@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata") url("./public/inconsolata.ttf");
}

@font-face {
  font-family: "Lora";
  src: local("Lora") url("./public/lora-italic.ttf");
}


body {
  position: relative;
  background-color: black;
  color: white;
  padding: 0;
}

.blogPost,
.helpButton,
.helpDialog {
  font-family: Inconsolata, Arial;
}

.blogPost {
  color: #cacaca;
  margin: 0;
  padding: 0.7rem;
  background-color: #15141a;
  border-radius: 0.75rem;
  border: 0.09rem solid #2b2b2f;
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-10px);
  transition: 
    opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

.blogVideo,
.blogImage {
  margin: 0;
  border-radius: 0.75rem;
  overflow: clip;
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-10px);
  transition: 
    opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

.blogVideo video,
.blogVideo source {
  max-width: 100%;
}

.blogImage.visible,
.blogListContainer .container.visible + span ,
.blogPost.visible, 
.blogVideo.visible {
  opacity: 1;
  filter: none;
  transform: translateX(0);
}

.blogContainer {
  padding: 3rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.blogListContainer {
  padding: 0 min(1rem, 30vh);
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.blogListContainer span {
  position: sticky;
  top: 0.6rem;
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-10px);
  margin-top: 0.6rem;
  font-size: 1.5rem;
  transition: 
    opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

.blogListContainer .container {
  width: 20rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.helpButton {
  cursor: pointer;
  z-index: 1;
  color: white;
  background-color: #976e97;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: fixed;
  border: none;
  bottom: 1rem;
  right: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.helpDialog {
  border: none;
  padding: 2.5rem;
  border-radius: 0.5rem;
}

.helpDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: grayscale(100%) blur(2px);
}

.helpDialog .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helpDialog .helpInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: max(15rem, 30vw);
}

.helpDialog .helpInfoContainer a {
  text-decoration: underline;
}

.helpDialog button {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  background-color: #976e97;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

@media (hover: hover) {
  .blogImage:hover,
  .blogPost:hover {
    transform: translateX(5px);
  }

  .helpButton:hover,
  .helpButton:hover,
  .helpDialog button:hover,
  .helpDialog button:focus {
    background-color: #8049b7;
  }

  
}
