body {
  position: relative;
  background-color: black;
  font-family: Inconsolata, Arial;
}

.messagePost {
  margin: 0;
  color: #cacaca;
  padding: 0.7rem;
  background-color: #15141a;
  border-radius: 0.75rem;
  border: 0.09rem solid #2b2b2f;
  opacity: 0;
  transform: translateX(-10px);
  transition: 
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.messageVideo,
.messageImage {
  margin: 0;
  border-radius: 0.75rem;
  overflow: clip;
  opacity: 0;
  transform: translateX(-10px);
  transition: 
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.messageVideo video,
.messageVideo source {
  max-width: 100%;
}

.messageImage.visible,
.messagePost.visible, 
.messageVideo.visible {
  opacity: 1;
  transform: translateX(0);
}

.blogContainer {
  margin: 3rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.messageListContainer {
  padding: 0 min(1rem, 30vh);
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.messageListContainer span {
  position: sticky;
  top: 0.6rem;
  opacity: 0;
  transform: translateX(-10px);
  margin-top: 0.6rem;
  font-size: 1.5rem;
  transition: 
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.messageListContainer .container.visible + span {
  opacity: 1;
  transform: translateX(0);
}

.messageListContainer .container {
  width: 20rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

@media (hover: hover) {
  .messageImage:hover,
  .messagePost:hover {
    transform: translateX(5px);
  }
}
